apiVersion: apps/v1
kind: Deployment
metadata:
  name: ok-nginx
  namespace: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ok-nginx
  template:
    metadata:
      labels:
        app: ok-nginx
    spec:
      containers:
        - name: nginx
          image: nginx:1.27
          ports:
            - containerPort: 80
